Options +FollowSymlinks

<FilesMatch "^(internal|edit_tag|edit|curate).php$">
AuthName "Staff Access Only:"
AuthType Basic
AuthUserFile /usr/www/users/jedarchi/.htpasswd
Require valid-user
</FilesMatch>Options +FollowSymlinks

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^testimonial.*$ /mvc/index.php [NC,L,QSA]
RewriteRule ^([\w]+)(\/)*/?$ $1.php [NC,L]
