Options +FollowSymlinks

<FilesMatch "^(quicksearch|edit_tag|edit|curate|manage).php$">
AuthName "Staff Access Only:"
AuthType Basic
AuthUserFile /home/ubuntu/sites/jedarchive/.htpasswd
Require user arne
Require user jdstaff
Require user mlak-admin
</FilesMatch>

<FilesMatch "^internal.php$">
AuthName "Seed Staff Access Only:"
AuthType Basic
AuthGroupFile /home/ubuntu/.htgrp
AuthUserFile /home/ubuntu/sites/jedarchive/.htpasswd
Require valid-user
</FilesMatch>


RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^news.*$ /news/index.php [NC,L]
RewriteRule ^testimonial.*$ /mvc/index.php [NC,L,QSA]
RewriteRule ^([\w]+)(\/)*/?$ $1.php [NC,L]
